<% TaskDecorator.new(task).tap do |decorated_task| %>
  <section class="box <%= decorated_task.task_class %>">
    <div class="columns">
      <div class="column">
        <div class="columns">
          <div class="column">
            <%= link_to task.description, list_task_path(list, task) %>
          </div>
          <div class="column">
            <strong>Schedule</strong>
            <%= decorated_task.schedule_explanation %>
          </div>
          <div class="column">
            <% if task.last_completed_at.present? %>
              <strong>Last completed</strong>
              <%= decorated_task.last_completed %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="column task__actions">
        <div>
          <%= link_to "Complete", list_task_completions_path(list, task), method: :post, class: "button is-primary", remote: true %>
        </div>
        <% if task.complete? %>
          <div>
            &nbsp;
            <%= link_to "Undo complete", list_task_completion_path(list, task, task.completion_id), class: "button is-danger", method: :delete, remote: true, data: { confirm: "Are you sure?" } %>
            &nbsp;
          </div>
        <% end %>
      </div>
    </div>
  </section>
<% end %>
