<% TaskDecorator.new(task).tap do |decorated_task| %>
  <tr class="task <%= decorated_task.task_class %>">
    <td><%= link_to task.description, list_task_path(list, task) %></td>
    <td><%= decorated_task.schedule_explanation %></td>
    <td>
      <%= decorated_task.last_completed %>
    </td>
    <td>
      <div class="is-pulled-right">
        <% if task.complete? %>
          <%= link_to "Undo complete", list_task_completion_path(list, task, task.completion_id), class: "button is-danger", method: :delete, data: { confirm: "Are you sure?" } %>
          &nbsp;
        <% end %>
        <%= link_to "Complete", list_task_completions_path(list, task), method: :post, class: "button is-primary" %>
      </div>
    </td>
  </tr>
<% end %>
