<h2 class="subtitle"><%= @list.name %></h2>

<table class="table">
  <tr>
    <th>Description</th>
    <th>Schedule</th>
    <th>Last completed</th>
    <th></th>
  </tr>
  <% @list.task_with_completions.each do |task| %>
    <tr>
      <td><%= link_to task.description, list_task_path(@list, task) %></td>
      <td><%= task.schedule %></td>
      <td><%= TaskDecorator.new(task).last_completed %></td>
      <td>
        <div class="is-pulled-right">
          <%= link_to "Complete", complete_list_task_path(@list, task), method: :patch, class: "button" %>
        </div>
      </td>
    </tr>
  <% end %>
</table>

<p><%= link_to "Add a task", new_list_task_path(@list) %></p>
