<h2 class="subtitle"><%= @list.name %></h2>
<% if @users.present? %>
  <p>
    Shared with <%= @users.map(&:name).join(", ") %>.
  </p>
  <br>
<% end %>

<table class="table">
  <tr>
    <th>Description</th>
    <th>Schedule</th>
    <th>Last completed</th>
    <th></th>
  </tr>
  <%= render partial: "task", collection: @grouped_tasks.not_completed, as: :task, locals: { list: @list } %>
  <%= render partial: "task", collection: @grouped_tasks.completed, as: :task, locals: { list: @list } %>
</table>

<p><%= link_to "Add a task", new_list_task_path(@list) %></p>
