<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Chore Tracker</title>
    <meta name="description" content="A way to track things that need to be done periodically">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbolinks-track": "reload" %>
  </head>

  <body>
    <% if flash[:success].present? %>
      <div class="notification is-success global-notification">
        <button class="delete"></button>
        <div class="container">
          <%= flash[:success] %>
        </div>
      </div>
    <% end %>
    <% if flash[:error].present? %>
      <div class="notification is-danger global-notification">
        <button class="delete"></button>
        <div class="container">
          <%= flash[:error] %>
        </div>
      </div>
    <% end %>

    <header class="hero">
      <div class="container">
        <nav class="nav">
          <div class="nav-left">
            <%= nav_item :a, href: root_path do %>
              <h1 class="title">Chore Tracker</h1>
            <% end %>
          </div>
          <div class="nav-right">
            <% if signed_in? %>
              <%= nav_item do %>
                <%= image_tag current_user.image_url %>
                &nbsp;
                <%= current_user.name %>
              <% end %>
              <%= nav_item do %>
                <%= button_to "Sign out", signout_path, method: :delete, class: "button" %>
              <% end %>
            <% else %>
              <%= nav_item do %>
                <%= button_to "Sign in with Google", "/auth/google_oauth2", class: "button" %>
              <% end %>
            <% end %>
          </div>
        </nav>
      </div>
    </header>
    <main class="section">
      <div class="container">
        <%= yield %>
      </div>
    </main>
  </body>
</html>
